tensorflow-gpu==2.10.1
pandas==2.0.3
dvc
mlflow==2.2.2
notebook==6.5.4
numpy==1.23.5
matplotlib==3.7.1
seaborn==0.12.2
python-box==6.0.2
PyYAML==6.0
tqdm==4.65.0
ensure==1.0.2
joblib==1.2.0
types-PyYAML==6.0.12
scipy==1.10.1
Flask==2.2.5
Flask-Cors==3.0.10
gdown==4.7.1
jupyterlab==3.2.9
setuptools==69.5.1
-e .
